name: Hello World Workflow

on:
  push:
    branches: [ main ]

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print a message
        run: echo 'Hello from GitHub Actions!'

      - name: Show current date
        run: date

      - name: Show Java version (pre-installed on runner)
        run: java --version

      - name: List files
        run: ls -la
